@import "../../variables.scss";

.container {
    padding: 1em;
}

.form {
    width: fit-content;
    text-align: center;
    margin: 0 auto;
    line-height: 2em;
    label {
        margin: 0 0.5em;
    }
    input {
        width: 8ch;
    }
}