<h2>Konverterare</h2>

<h3>Konvertera mellan meter och fot:</h3>
<div class="conatiner">
    <label for="meter">Meter:</label>
    <input type="number" id="meter" [(ngModel)]="meter" (ngModelChange)="convertMeter()">
    <br>
    <label for="foot">Fot:</label>
    <input type="number" id="foot" [(ngModel)]="foot" (ngModelChange)="convertFoot()">
</div>

<h3>Konvertera mellan celsius och fahrenheit:</h3>
<div class="conatiner">
    <label for="celsius">Celsius:</label>
    <input type="number" id="celsius" [(ngModel)]="celsius" (ngModelChange)="convertCelsius()">
    <br>
    <label for="fahrenheit">Fahrenheit:</label>
    <input type="number" id="fahrenheit" [(ngModel)]="fahrenheit" (ngModelChange)="convertFahrenheit()">
</div>